.icon
    background-repeat: no-repeat
    background-size: 100%
    background-position: 0 50%
    display: inline-block
    vertical-align: middle
    position: relative
    transition: 250ms ease-in-out

.call
    width: 24px
    height: 24px
    background-image: svg-load('call.svg', fill=#fff)

.callback
    width: 24px
    height: 24px
    background-image: svg-load('callback.svg', fill=#fff)

.success
    width: 120px
    height: 110px
    background-image: svg-load('success.svg')
