.modal
    display: flex
    justify-content: center
    align-items: center
    position: fixed
    z-index: 9000
    left: 0
    right: 0
    bottom: 0
    top: 0
    visibility: hidden

    &_visible
        visibility: visible

        .container
            opacity: 1
            transform: translateY(0)

        .overlay
            opacity: 1

.container
    position: relative
    z-index: 9300
    width: 720px
    height: 360px
    border-radius: 2px
    box-shadow: 0 4px 10px rgba(30, 25, 32, 0.4)
    box-sizing: border-box
    transition: 250ms ease-in-out
    opacity: 0
    transform: translateY(10px)
    display: flex
    margin: 0 5px

    @media screen and (min-width: 1024px)
        margin: 0

.title
    font-size: 16px
    text-align: center
    color: #1e1920

.side
    flex: 1 0 50%
    height: 100%
    position: relative
    overflow: hidden
    box-sizing: border-box
    padding: 30px 20px
    text-align: center
    display: none

    @media screen and (min-width: 1024px)
        display: block

    &_visible
        display: block

    &_left
        background-color: #868e96
        background-image: url("data:image/svg+xml,%3Csvg width='48' height='64' viewBox='0 0 48 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M48 28v-4L36 12 24 24 12 12 0 24v4l4 4-4 4v4l12 12 12-12 12 12 12-12v-4l-4-4 4-4zM8 32l-6-6 10-10 10 10-6 6 6 6-10 10L2 38l6-6zm12 0l4-4 4 4-4 4-4-4zm12 0l-6-6 10-10 10 10-6 6 6 6-10 10-10-10 6-6zM0 16L10 6 4 0h4l4 4 4-4h4l-6 6 10 10L34 6l-6-6h4l4 4 4-4h4l-6 6 10 10v4L36 8 24 20 12 8 0 20v-4zm0 32l10 10-6 6h4l4-4 4 4h4l-6-6 10-10 10 10-6 6h4l4-4 4 4h4l-6-6 10-10v-4L36 56 24 44 12 56 0 44v4z' fill='%23ffffff' fill-opacity='0.1' fill-rule='evenodd'/%3E%3C/svg%3E")
        background-repeat: repeat
        border-radius: 2px
        color: #fff

        @media screen and (min-width: 1024px)
            border-radius: 2px 0 0 2px

    &_right
        background-color: #fff
        border-radius: 2px
        color: #1e1920

        @media screen and (min-width: 1024px)
            border-radius: 0

    &_in
        justify-content: space-between
        align-items: center
        display: flex
        flex-direction: column
        height: 100%
        position: relative

    &_center
        justify-content: center

.center
    margin-top: auto

    @media screen and (min-width: 1024px)
        margin-top: 0

.text
    font-size: 16px
    margin: 8px 0

    &_offset
        margin-top: 32px

.phone
    font-size: 24px
    margin: 0

.callbackButton
    margin-top: auto
    max-width: 320px
    width: 100%

    @media screen and (min-width: 1024px)
        display: none

.form
    width: 100%
    max-width: 320px

.overlay
    position: absolute
    z-index: 9200
    left: 0
    top: 0
    width: 100%
    height: 100%
    background-color: rgba(30, 25, 32, 0.8)
    opacity: 0
    transition: 250ms ease-in-out
    cursor: pointer

    &:hover:after
        opacity: 1

    &:after
        content: ''
        position: absolute
        top: 10px
        right: 5px
        width: 34px
        height: 34px
        transition: 250ms ease-in-out
        background-image: svg-load('close.svg', fill=#fff)
        background-repeat: no-repeat
        background-size: 100%
        background-position: 0 50%
        opacity: .5

        @media screen and (min-width: 1024px)
            top: 20px
            right: 20px
